<template>
  <div id="login" >
    <div class="dddd" style="height: calc(100vh - 0px);width: 100%">

<div style="border: 1px solid white;width: 300px;text-align: center;padding:20px 20px;border-radius: 10px">



    <el-row :gutter="20" type="flex" justify="center">
      <!--<el-col :span="8"></el-col>-->
      <el-col :span="23" :offset="10"><el-input v-model="input" placeholder="用户名" @blur="get"></el-input></el-col>
      <!--<el-col :span="8"></el-col>-->
    </el-row>
    <br/>
    <el-row :gutter="20" type="flex" justify="center">
      <!--<el-col :span="10"></el-col>-->
      <el-col :span="23" :offset="10"><el-input placeholder="请输入密码" v-model="input11" show-password></el-input></el-col>
      <!--<el-col :span="10"><div class="grid-content bg-purple"></div></el-col>-->
    </el-row>
  <br/>



  <el-row :gutter="20" type="flex" justify="center">

    <!--<el-col :span="10"></el-col>-->
    <el-col :span="23">
      <el-button round>登陆</el-button>
    </el-col>
    <!--<el-col :span="10"></el-col>-->

  </el-row>
  <br/>

    <el-row :gutter="20" type="flex" justify="center">

        <!--<el-col :span="10"></el-col>-->
        <el-col :span="23">
          <div class="reg-bar">
          <a class="reg" href="http://www.dowebok.com" target="_blank" style="float:left">立即注册</a>
          <a class="forget" href="http://www.dowebok.com" target="_blank" style="float:right">忘记密码</a>
          </div>
        </el-col>
        <!--<el-col :span="10"></el-col>-->

    </el-row>
</div>
    </div>
  </div>
</template>

<script>
  export default{
    name: 'login',
    data(){
      return{
        input:"",
        input11:"",
      }
    },
    methods:{
      get(){
        console.log("用火狐吗"+this.input)
      }

    }
  }
</script>

<style scoped>
  * {
    padding: 0;
    margin: 0;
  }
  div p{
    padding: 0;
    margin: 0;
  }

  .ivu-layout-header{
    height: 200px;
  }

  .el-input__inner{
    width:500px;
  }

  .dddd{
    /*margin-top:15%;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../images/backgroud.png");
    /*height: 500px;*/
  }

  .el-button{
    width:100%;
  }
</style>
