<template>
    <div id="index">
      <!---->
      <div>

      </div>
      <div>

      </div>
      <div class="aaaa">
        <Button>Default</Button>
      </div>
        <Button type="primary">Primary</Button>
        <Button type="dashed">Dashed</Button>
        <Button type="text">Text</Button>
        <br><br>
        <Button type="info">Info</Button>
        <Button type="success">Success</Button>
        <Button type="warning">Warning</Button>
        <Button type="error">Error</Button>

    </div>
</template>

<script>export default {
  name: 'index'
}
</script>

<style lang="less">
  @import "../less/index";
</style>
